In [6]:
a ='3 Idiots'

In [7]:
b = 9.0
c= 2009

In [8]:
print("picture")

picture

In [9]:
print(a)

3 Idiots

In [10]:
print(a, b, c)

3 Idiots 9.0 2009

In [11]:
print(a,"was released in", c,"with rating",b)

3 Idiots was released in 2009 with rating 9.0

***concatenation***

In [12]:
print("i gave "+str(b)+" to "+a)

i gave 9.0 to 3 Idiots

***format specifier***

In [13]:
print('i gave %.lf to %s(%d)'%(b,a,c))

i gave 9 to 3 Idiots(2009)

**format string**

In [14]:
print('i gave {} to {}'.format(b,a))

i gave 9.0 to 3 Idiots

**f string**

In [15]:
print(f'i gave {b} to {a}')

i gave 9.0 to 3 Idiots

**input**

In [20]:
x = input("enter your value")

enter your value great

In [21]:
d=int(input("first no"))
e=int(input("second no"))
f=d+e
print("sum: ",f)

first no 34
second no 66

sum:  100

In [22]:
type(a)

str

In [23]:
n=str(input("name"))
g=int(input("roll no"))
h=str(input("address"))
i=int(input("phone no"))

name Sid
roll no 24
address Timbaktu , India
phone no 67676767676

In [24]:
print(n,g,h,i)

Sid 24 Timbaktu , India 67676767676

In [25]:
f= 34
u= 56

In [26]:
if u > f:
    print("good")
else:
    print("bad")

good

In [27]:
if f>5:
    f=f+45
    if f>35:
        print("good")
    else:
        print("bad")
else:
    print('error')

good