## list

- heterogenous

- dynamic and mutable (can be changed after execution)

- indexed

- ordered

- list()

- represented by []

In [1]:
fal=["apple","banana","cheeku","kivi","peach","pear","grape","mango","orange","papaya"]
fal

['apple',
 'banana',
 'cheeku',
 'kivi',
 'peach',
 'pear',
 'grape',
 'mango',
 'orange',
 'papaya']

In [2]:
type(fal)

list

In [3]:
len(fal)

10

In [4]:
for i in fal:
    print('*',i)

* apple
* banana
* cheeku
* kivi
* peach
* pear
* grape
* mango
* orange
* papaya

# indexing

In [5]:
fal[7]

'mango'

In [6]:
fal[-1]

'papaya'

In [8]:
x=[6,78.86,78,8]
x

[6, 78.86, 78, 8]

In [9]:
type(x)

list

In [10]:
for i in x:
    print('',i)

 6
 78.86
 78
 8

In [11]:
x[-3]

78.86

In [5]:
fal=["apple","banana","cheeku","kivi","peach","pear","grape","mango","orange","papaya"]
fal[1:4]

['banana', 'cheeku', 'kivi']

In [6]:
fal[0::3]

['apple', 'kivi', 'grape', 'papaya']

In [14]:
for d in fal:
    if d.endswith('e'):
        print(d)

apple
grape
orange

In [15]:
for fal in fal:
    if "u" in fal:
        print(fal)

cheeku

### functions
***adding/ updating***
- append
- insert
- extend

***removing***
- remove
- pop
- clear

***utilities***
- sort
- reverse
- copy
- index
- count

In [18]:
fal.append("strawberry")

In [19]:
fal

['apple',
 'banana',
 'cheeku',
 'kivi',
 'peach',
 'pear',
 'grape',
 'mango',
 'orange',
 'papaya',
 'strawberry']

In [20]:
fal.append("guava")
fal.append("raspberry")
fal.append("pineapple")
fal.append("cherry")
fal.append(input("last fal:"))

last fal: apricot

In [21]:
fal

['apple',
 'banana',
 'cheeku',
 'kivi',
 'peach',
 'pear',
 'grape',
 'mango',
 'orange',
 'papaya',
 'strawberry',
 'guava',
 'raspberry',
 'pineapple',
 'cherry',
 'apricot']

In [22]:
len(fal)

16

In [23]:
o=[]
for t in range(5):
    data= int(input('val:'))
    o.append(data)

val: 456
val: 66
val: 456
val: 3334
val: 445

In [24]:
o

[456, 66, 456, 3334, 445]

In [25]:
sum(o)

4757

In [26]:
min(o)

66

In [27]:
max(o)

3334

In [28]:
fal.insert(1,'cranberry')

In [29]:
fal

['apple',
 'cranberry',
 'banana',
 'cheeku',
 'kivi',
 'peach',
 'pear',
 'grape',
 'mango',
 'orange',
 'papaya',
 'strawberry',
 'guava',
 'raspberry',
 'pineapple',
 'cherry',
 'apricot']

In [30]:
fal.insert(100,'keenu')

In [31]:
fal

['apple',
 'cranberry',
 'banana',
 'cheeku',
 'kivi',
 'peach',
 'pear',
 'grape',
 'mango',
 'orange',
 'papaya',
 'strawberry',
 'guava',
 'raspberry',
 'pineapple',
 'cherry',
 'apricot',
 'keenu']

In [39]:
dry=['cashew','almond','walnut','hazelnut']
fal.extend(dry)

In [40]:
fal

['apple',
 'cranberry',
 'banana',
 'cheeku',
 'peach',
 'pear',
 'grape',
 'mango',
 'orange',
 'papaya',
 'strawberry',
 'guava',
 'raspberry',
 'pineapple',
 'cherry',
 'apricot',
 'keenu',
 'cashew',
 'walnut',
 'hazelnut',
 'cashew',
 'almond',
 'walnut',
 'hazelnut']

In [34]:
fal.remove('kivi')
fal

['apple',
 'cranberry',
 'banana',
 'cheeku',
 'peach',
 'pear',
 'grape',
 'mango',
 'orange',
 'papaya',
 'strawberry',
 'guava',
 'raspberry',
 'pineapple',
 'cherry',
 'apricot',
 'keenu',
 'cashew',
 'almond',
 'walnut',
 'hazelnut']

In [41]:
re=input("fal:")
if re in fal:
    fal.remove(re)
    print(fal)
else:
    print("absent")

fal: almond

['apple', 'cranberry', 'banana', 'cheeku', 'peach', 'pear', 'grape', 'mango', 'orange', 'papaya', 'strawberry', 'guava', 'raspberry', 'pineapple', 'cherry', 'apricot', 'keenu', 'cashew', 'walnut', 'hazelnut', 'cashew', 'walnut', 'hazelnut']

In [42]:
if 'almond' in fal:
    fal.remove('cherry')

In [43]:
fal

['apple',
 'cranberry',
 'banana',
 'cheeku',
 'peach',
 'pear',
 'grape',
 'mango',
 'orange',
 'papaya',
 'strawberry',
 'guava',
 'raspberry',
 'pineapple',
 'cherry',
 'apricot',
 'keenu',
 'cashew',
 'walnut',
 'hazelnut',
 'cashew',
 'walnut',
 'hazelnut']

In [44]:
fal.pop(2)

'banana'

In [45]:
fal.pop()

'hazelnut'

In [46]:
fal.clear()
fal

[]

In [47]:
fruits=["apple","banana","cheeku","kivi","peach","pear","grape","mango","orange","papaya"]

In [48]:
fruits.sort()
fruits

['apple',
 'banana',
 'cheeku',
 'grape',
 'kivi',
 'mango',
 'orange',
 'papaya',
 'peach',
 'pear']

In [49]:
fruits.reverse()
fruits

['pear',
 'peach',
 'papaya',
 'orange',
 'mango',
 'kivi',
 'grape',
 'cheeku',
 'banana',
 'apple']

In [50]:
a=fruits.index('mango')
c=a+1
c

5

In [51]:
fruits.count('kivi')

1

In [52]:
l1=[1,2,45,3]
l2=l1.copy()
l1.append(44)
print(l1)
print(l2)

[1, 2, 45, 3, 44]
[1, 2, 45, 3]

In [7]:
exp=[]
while True:
    price = input("price")
    if price and price.isnumeric :
        exp.append(float(price))
    else:
        break
print("total expence",sum(exp))

price 34
price 5.5
price

total expence 39.5

In [1]:
i =""
while True:
    pr =input("enter")
    if pr:
        i=i + pr + " " 
    else:
        break
i

enter i am
enter ironman
enter !!!
enter

'i am ironman !!! '