# Tuple

- heterogenous 

- immutable (can't be changed after execution)

- indexed

- ordered

- tuple()

- represented by "()"

   eg:(1,2,3,4)

In [1]:
x=(1,2,3,4,5)
c=('a','b','c','d','e')

In [2]:
print(x[0])
x[-2]

1

4

In [3]:
for i in c:
    print(i,end=" ")

a b c d e

In [4]:
c.count('a')

1

In [5]:
c.index('d')

3

In [6]:
c[:3]

('a', 'b', 'c')

In [7]:
x[1::2]

(2, 4)

In [8]:
x[:]

(1, 2, 3, 4, 5)

# Sets
- unindexed
- unique value only
- unordered
- set()
- set() #emplty set
- {1,2,3}

In [1]:
a={1,2,3,4,5,6,7,8,9,10}
b={1,2,3}
c={11,12,13}
d={11,12,13,4,5,6,7,8,19,20}
e={11,12,13,14,15,16,17,18,19,20}

In [3]:
for u in a:
    print(u,end=" ")

1 2 3 4 5 6 7 8 9 10

In [4]:
sq={i**2 for i in b}
sq

{1, 4, 9}

In [5]:
ae=a.union(e)
print(ae)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [6]:
dup={1,23,4,4,5,5,344,378,237,3,23}
dup

{1, 3, 4, 5, 23, 237, 344, 378}

In [7]:
a.intersection(d)

{4, 5, 6, 7, 8}

In [8]:
e.difference(d)

{14, 15, 16, 17, 18}

In [9]:
d.symmetric_difference(e)

{4, 5, 6, 7, 8, 14, 15, 16, 17, 18}

In [10]:
e.add(21)
e

{11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21}

In [11]:
e.discard(21)
e

{11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [13]:
e.discard(21)
e

{11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [16]:
a.update({1,37889,4,9,46,687})
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 46, 67, 687, 37889}

In [17]:
a.isdisjoint(e)

True

In [19]:
d.issuperset(c)

True

In [20]:
c.issubset(d)

True

In [24]:
data=set()
for i in range(10):
    val=input(f'{i+1}=>')
    data.add(val)
data

1=> yo
2=> yo
3=> goku
4=> panda
5=> chotu
6=> fan
7=> chotu
8=> panda
9=> yo
10=> hi

{'chotu', 'chotu ', 'fan', 'goku', 'hi', 'panda', 'yo'}

In [27]:
data1={i for i in input("data1:")}
data2={i for i in input("data2:")}
if data2.issubset(data1):
    print("b is subset")
else:
    print('b is not subset')
if data1.issuperset(data2):
    print("a is superset")
else:
    print('a is not superset')
if data1.isdisjoint(data2):
    print("disoint")
else:
    print('not disjoint')

data1: 1 2 3 4 5
data2: 4 5

b is subset
a is superset
not disjoint

In [1]:
x=input('set 1').split()
y=input('set 2').split()
x=set(x)
y=set(y)
print("x is subset of y:",x.issubset(y))
print("x is superset of y:",x.issuperset(y))
print("x y are disjoint:",x.isdisjoint(y))

set 1 1 2 3 4 5
set 2 4 5

x is subset of y: False
x is superset of y: True
x y are disjoint: False